* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: rgb(24, 24, 52);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainBody {
  height: 100%;
  width: 80rem;
}
